.footer {
    margin: 50px 0px 0px;
}

.jumbotron {
    margin-top: 50px;
}

.currentWeatherData {
    text-align: center;
}

.vhighUV {
    background-color: red;
}

.highUV {
    background-color: orange;
}
.modUV {
    background-color: yellow;
}
.lowUV {
    background-color: green;
}

.btn {
    margin-top: 50px;
}

body {
    background-color: #AEC6F2;
}

